 <md-dialog aria-label="File Resource" flex="80" style="height:80%" >
    <md-dialog-content  layout="" layout-align="center" layout-fill="" layout-padding="">
        <textarea ckeditor='tinymceOptions' ng-model='htmlModel' layout-fill=""> </textarea>
     </md-dialog-content>

<md-dialog-actions>         
	  <md-button class="md-warn" type="button" data-ng-click="cancel()">Cancel</md-button>
      <md-button  class="md-raised md-primary"  type="button" data-ng-click="ok()">OK</md-button>
</md-dialog-actions>
        

</md-dialog>