 <md-card layout="row" layout-fill layout-padding>
 <md-card-content layout-fill>
          <md-toolbar class="md-table-toolbar alternate">
          <div class="md-toolbar-tools">
              <div flex="50">
                  <h2 >Configuration</h2>
              </div>
              <div flex="50" layout-align="center" ng-if="services.length" >
             	<md-input-container>
				  <md-select ng-model="data.selectedService" placeholder="Choose an Item">
				    <md-option ng-value="service.id" ng-repeat="service in services">{{ service.name }}</md-option>
				  </md-select>
				</md-input-container>
              </div>
              </div>
        </md-toolbar>
         <div ng-if="!services.length">
         	No Configurable Services
         </div>
        <div ng-if="services.length">
	        <div ng-repeat="service in services" ng-show="service.id === data.selectedService">
	        <h3 class="md-subtitle"> Service ID: <span> {{service.id}}</span></h3>
	         <formly-form model="data.configMap[service.id]" fields="serviceFieldMap[service.id]" form="serviceForm">
	                <md-button type="button" ng-show="!serviceForm.$pristine" ng-disabled="serviceForm.$invalid" ng-click="saveConfiguration(service.id, data.configMap[service.id])">Save</md-button>
	            </formly-form>
	         </div>
         </div>
    </md-card-content>
</md-card>
