<div layout="row">
<md-card ng-if="domain" flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
    
        <md-toolbar class="md-table-toolbar alternate">
          <div class="md-toolbar-tools">
              <div flex="80">
                  <h2 >Custom Fields</h2>
              </div>
              <div flex="20" layout-align="center" >
              <md-button ng-show="selectedEntities.length" 
                         class="md-raised md-accent" 
                         ng-click="showEntityForm($event,selectedEntities[0])">Edit</md-button>
              </div>
              </div>
        </md-toolbar>
        <md-table-container>
        <table md-table md-row-select ng-model="selectedEntities" md-progress="loadingPromise">
          <thead md-head md-order="asc" >
           <tr md-row>
	          <th md-column md-order-by="name"><span>Name</span></th>
	          <th md-column><span>Type</span></th>
	          <th md-column ><span>Required</span></th>
	          <th md-column><span>Include in Registration</span></th>
	          <th md-column><span>DefaultValue</span></th>
	          <th md-column><span>Other Properties</span></th>
	         </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="field" md-on-select="onSelect" md-select-id="field.id" 
                md-auto-select ng-repeat="field in entities.content">     
		          <td md-cell>{{field.name}}</td>
		          <td md-cell>{{field.type}}</td>
		          <td md-cell>{{field.mandatory}}</td>
		          <td md-cell>{{field.registrationItem}}</td>
		          <td md-cell>{{field.defaultValue}}</td>
		          <td md-cell>{{field.properties}}</td>
            </tr>
          </tbody>
        </table>
      
      </md-table-container>
     <md-table-pagination md-limit-options="options" md-limit="paginationData.size" md-page="paginationData.page" md-total="{{entities.getTotalElements()}}" 
                          md-on-paginate="onPaginate" md-page-select></md-table-pagination>
       <md-button class="md-fab md-fab-bottom-right" aria-label="Add" 
                  ng-click="showEntityForm($event)">
        <ng-md-icon icon="add"></ng-md-icon>
        </md-button>

    </md-card-content>
  </md-card>
</div>