<div layout="row">
<md-card flex-gt-sm="90" flex-gt-md="80">
	<style>
		.ext-content{
			margin-top: 1%;
		} 
	</style>
    <md-card-content>
         <md-toolbar class="md-table-toolbar alternate">
          <div class="md-toolbar-tools">
              <div flex>
                  <h2 >Services</h2>
              </div>
          </div>
        </md-toolbar>
     <div ng-if="!serviceUIs.length">
     	No Services Installed
     </div>
    <div ng-if="serviceUIs.length">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      	<md-nav-item ng-repeat="serviceUI in serviceUIs" md-nav-click="goTo(serviceUI)" name="{{serviceUI}}">{{getName(serviceUI)}}</md-nav-item>
    </md-nav-bar>	
    <div class="ext-content">
     <div ui-view></div>
    </div>
    </div>
    </md-card-content>
</md-card>
</div>
