<form name="detailsForm" novalidate>
	<formly-form model="user" fields="fields" ng-if="fields">
	</formly-form>
 </form>
<div layout="row" layout-align="center"> 
	
	<md-button ng-show="!display.hideNav && hasPrevious" class="md-raised md-fab md-primary" ng-click="previous()">
	<ng-md-icon icon="arrow_back" style="fill:white" size="56"></ng-md-icon> 
	</md-button>
	<md-button ng-show="!display.hideNav && hasNext" ng-disabled="detailsForm.$invalid" class="md-raised md-fab md-accent" ng-click="next(user)">
	<ng-md-icon icon="arrow_forward"  style="fill:white" size="56" class=></ng-md-icon> 
	</md-button>
</div>