<!DOCTYPE	html> 
	<html> 
		<head>		
			<title>
			</title> 
			 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
			  <!-- Angular Material style sheet -->
			  <link rel="stylesheet" href="/app/webjars/angular-material/angular-material.min.css"></link>
		</head> 
		<body ng-app='app'>
		<div ng-controller='MainCtrl'> 
		
		<div ui-view=""></div>
		
		<md-button class="md-raised md-primary" ng-click="go('form')">Entrance</md-button>
        <md-button class="md-raised md-warn" ng-click="go('form.details')">Details</md-button>
        	<md-button class="md-raised md-primary" ng-click="go('form.validation')">Validation</md-button>
        <md-button class="md-raised md-warn" ng-click="go('form.success')">Success</md-button>
		</div>
		<script src='/app/webjars/angularjs/angular.min.js'></script>
		<script src='/app/webjars/angular-ui-router/angular-ui-router.min.js'></script>
        <script src="/app/webjars/angularjs/angular-animate.min.js"></script>
 		<script src="/app/webjars/angularjs/angular-aria.min.js"></script>
 		<script src="/app/webjars/angularjs/angular-messages.min.js"></script>
        <script src='/app/webjars/angular-material/angular-material.min.js'></script>
        <script src='/app/web/lib/traverson/browser/dist/traverson.min.js'></script>
        <script src='/app/web/lib/traverson/browser/dist/traverson.min.js'></script>
        <script src='/app/web/lib/traverson-hal/browser/dist/traverson-hal.min.js'></script>
        <script src='/app/web/lib/traverson-angular/browser/dist/traverson-angular.min.js'></script>
        <script src='/app/web/lib/umaas-client/umaas-client.js'></script>
        <script src='/app/web/js/app.js'></script>
        <script src='/app/web/js/utils/umaas-client-angular.js'></script>
        <script src='/app/web/js/utils/routes.js'></script>
        <script src='/app/web/js/controllers/main-controller.js'></script>
        <script src='/app/web/js/controllers/registration-controller.js'></script>
        <script>
        	angular.module("app")
        	.run(function(umaas){
        		console.log("Configuring umaas client");
        		umaas.setAccessCode({id:"0000", code:"0000"});
        		umaas.setBaseUrl("/umaas/core");
        	});
        </script>
		
		</body> 
</html>