<!DOCTYPE	html> 
	<html> 
		<head>		
			<title>
			</title> 
		</head> 
		<body ng-app='app'>
		<div ng-controller='SampleController'> 
		
	
	
		<button type='button' ng-click="test()">TEST</button>
        <button type='button' ng-click="control()">CONTROL</button>
		</div>
		<script src='/app/web/lib/angular/angular.js'></script>
        <script src='/app/web/lib/traverson/browser/dist/traverson.min.js'></script>
         <script src='/app/web/lib/traverson/browser/dist/traverson.min.js'></script>
           <script src='/app/web/lib/traverson-hal/browser/dist/traverson-hal.min.js'></script>
          <script src='/app/web/lib/traverson-angular/browser/dist/traverson-angular.min.js'></script>
          <script src='/app/web/lib/umaas-client/umaas-client.js'></script>
          <script src='/app/web/js/app.js'></script>
		
		</body> 
</html>