<div layout="row" layout-align="center center">
<md-card style="width:70%">
	<div>
		<md-input-container>
			<input placeholder="Enter New Password" type="password" ng-model="newPassword"></input>
		</md-input-container>
		<md-input-container>
			<input placeholder="Confirm New Password" type="password" ng-model="confirmNewPassword"></input>
		</md-input-container>
		<md-button class="md-raised md-accent" ng-click="changePassword(newPassword)" ng-disabled="newPassword !== confirmNewPassword">RESET</md-button>	
	</div>
</md-card>
</div>