<!DOCTYPE	html> 
	<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" >
		<head>		
			<title>
			</title> 
			 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
			  <!-- Angular Material style sheet -->
			  <link rel="stylesheet" href="/app/webjars/angular-material/angular-material.min.css"></link>
			  <link rel="stylesheet" href="/app/webjars/lf-ng-md-file-input/lf-ng-md-file-input.min.css"></link>
			 <!-- style sheet -->
			<link href="/app/webjars/md-data-table/md-data-table.min.css" rel="stylesheet" type="text/css"/>
			<link rel="stylesheet" href="/app/web/css/styles.css"></link>
		</head> 
		<body ng-app='app' ng-controller="layoutCtrl">
		<div> 
		 	<!-- Sidebar -->
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">

                  <md-button ng-click="toggleSidenav('left')" hide-gt-sm="" class="md-icon-button">
                      <ng-md-icon icon="menu"></ng-md-icon>
                  </md-button>
                  <h1>Domain Administrator</h1>
                </div>
            </md-toolbar>
               <div layout="row" flex="" ng-controller="MainCtrl">
                   <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <md-toolbar class="md-hue-2">
                        <span flex=""></span>
                        <div layout="column" class="md-toolbar-tools-bottom inset">

                          <div >{{domain.name}}</div>

                        </div>
                    </md-toolbar>
                   <md-list>
                        <md-item ng-repeat="item in menu">
                        <a>
                          <md-item-content md-ink-ripple="" layout="row" layout-align="start center" ng-click="loadContent($index)">
                            <div class="inset">
                              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                          </md-item-content>
                        </a>
                      </md-item>
                   </md-list>
                   </md-sidenav>
                <div layout="column" flex="" id="content" style='width: 50%'>
	                <md-content flex="" md-scroll-y="">
	                    <ui-view layout="column" layout-fill="" layout-padding="">
	                        
	                    </ui-view>
	                </md-content>
           		</div>
             
               </div>
		
		</div>
		<script src="/app/webjars/api-check/api-check.js"></script> <!-- must appear before formly.js -->
		<script src='/app/webjars/angularjs/angular.min.js'></script>
		<script src='/app/webjars/angular-ui-router/angular-ui-router.min.js'></script>
        <script src="/app/webjars/angularjs/angular-animate.min.js"></script>
 		<script src="/app/webjars/angularjs/angular-aria.min.js"></script>
 		<script src="/app/webjars/angularjs/angular-messages.min.js"></script>
        <script src='/app/webjars/angular-material/angular-material.min.js'></script>
        <script src="/app/webjars/angular-material-icons/angular-material-icons.js"></script>
		<script src="/app/webjars/angular-formly/formly.js"></script>
		<script src="/app/webjars/angular-formly-material/formly-material.min.js"></script>
        <script src="/app/webjars/lf-ng-md-file-input/lf-ng-md-file-input.js"></script>
        <script src='/app/webjars/traverson/traverson.min.js'></script>
        <script src='/app/webjars/traverson-hal/traverson-hal.min.js'></script>
        <script src='/app/webjars/traverson-angular/traverson-angular.min.js'></script>
        <script src="/app/webjars/md-data-table/md-data-table.min.js"></script>
        <script src='/app/web/lib/umaas-client/umaas-client.js'></script>
        <script src='/app/web/js/app.js'></script>
        <script src='/app/web/js/utils/umaas-client-angular.js'></script>
        <script src='/app/web/js/utils/routes.js'></script>
        <script src='/app/web/js/utils/general-config.js'></script>  
        <script src='/app/web/js/utils/domain-fields.js'></script>  
        <script src='/app/web/js/services/entity-attendant.js'></script>     
        <script src='/app/web/js/controllers/main-controller.js'></script>
        <script src='/app/web/js/controllers/entity-controller.js'></script>
        <script src='/app/web/js/controllers/domain-controller.js'></script>
        <script src='/app/web/js/directives/file-resource.js'></script>
        <script src='/app/web/js/directives/group-user-manager.js'></script>
        <script src='/app/web/js/services/field-factory.js'></script>
        <script th:inline="javascript">
        	angular.module("app")
        	.run(function(umaas){
        		umaas.setBaseUrl("/umaas/core");
        	})
        	.constant('globalConfig', {
        		accessCode: [[${accessCode}]],
        		domainName: [[${domainName}]]
        	});
        </script>
		
		</body> 
</html>