<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" >
   <head></head>
 <body>
 	<h2>Password Reset</h2>
 	<p>Use this code to reset your password</p>
 	<span th:text="${request.properties.code}">1234</span>
 	<p>
 	You can verify directly following this link
 	</p>
 	<a th:href="${verifyUrl}">Verify Here</a>
  </body>
</html>
