<input type="hidden" name="{{options.name}}"></input>
<label>{{options.templateOptions.label}} ({{modelValue}})</label>
<div layout="row" ng-init="showButton = false">
	<md-button ng-if="!verified && !verifyRequested" flex ng-click="requestVerify()">VERIFY</md-button>
	<md-button ng-if="!verified && verifyRequested" flex ng-click="resend()">RESEND</md-button>
	<input ng-if="!verified && verifyRequested" flex ng-model="data.code" placeholder="Enter code"/>
	<md-button ng-if="!verified && verifyRequested" flex ng-click="verify()">GO</md-button>
	
	<div ng-if="verified">Verified!</div>
	<div ng-if="verificationFailed">
		Verification Failed!
	</div>
</div>
